/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 100%;
    margin: 0 auto;
    background-color: #F9F7F0;  /* Off-white for the background */
    color: #333333; /* Dark blue for the text */
}

/* Container for centering content */
.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

/* Container for main content */
.content-container{
    max-width: 80%;
    margin: 0 auto;
    outline: 2px solid #ccc;
    padding: 20px;       
}

/* Header styles */
header {
    background-color: #178ca4; /* Teal for header */
    padding: 20px 0;
    text-align: center;
    margin-bottom: 15px;
}

/* Info text in header */
.infos p{
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
}

/* Logo styles */
.logo {
    display: inline-block;
    font-size: 2em;
    margin-right: 20px;
    text-decoration: none;
    color: #fff; /* White for logo text */
}

/* Heading styles */
h1, h2 {
    margin: 0 auto;
    font-weight: normal;
    color: #333333; /* Dark blue for headings */
}

h1 {
    font-size: 2em;
    padding:20px 0 20px 0;
}

h2 {
    font-size: 1.5em;
    padding:0 0 20px 0;
}

h3 {
    color: #333333;
    font-weight: bold;
    font-size: 1.3em;
    display: inline-block;
}

/* Paragraph styles */
p {
    margin: 10px 0;
    font-size: 1.1em;
    display: inline-block;
    color: #333333;
}

/* Hover effect for action buttons */
.actions button:hover {
    background-color: orangered /* Darker orange on hover */
}

/* Form styles */
form {
    margin-bottom: 20px;
}

/* Custom select wrapper */
.select-wrapper {
    position: relative;
    width: 100%;
    max-width: 300px;
}

/* Custom dropdown arrow */
.select-wrapper::after {
    content: "▼";
    font-size: 1rem;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    position: absolute;
    pointer-events: none;
}

/* Select element styles */
select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 1rem;
    padding: 10px 30px 10px 10px;
    border: 1px solid #3d3d3d;
    border-radius: 4px;
    cursor: pointer;
}

select:focus {
    outline: none;
    border-color: #4a4a4a;
}

/* Label styles */
label { 
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333; 
}

/* Input and select styles */
select, input[type="text"] {
    width: 100%;
    padding: 10px; 
    margin-bottom: 5px; 
    border: 1px solid #ccc;  
    border-radius: 4px;      
    box-sizing: border-box;   
    font-size: 16px;       
    color: #333;      
}

/* Focus styles for inputs and selects */
select:focus, 
input[type="text"]:focus {
    outline: none;           
    border-color: #888;      
}

/* Button styles */
button {
    background-color: #3498db; /* Mid-blue for button */
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease;
}

/* Button hover effect */
button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

/* Flash message styles */
.flashes {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.flash-error {
    background-color: #ffdddd;
    border: 1px solid #ff8888;
    padding: 8px 12px;
    margin-bottom: 5px; 
    border-radius: 5px;
}

.flash-success {
    background-color: #ddffdd;
    border: 1px solid #88ff88;
    padding: 8px 12px;
    margin-bottom: 5px; 
    border-radius: 5px;
}

.newsletter {
    background-color: #fff; /* White for content box */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.newsletter h1 { 
    font-size: 24px; 
    font-weight: bold; 
    margin-top: 20px; 
}

.newsletter h2 { 
    font-size: 20px; 
    font-weight: bold; 
    margin-top: 15px; 
}

.newsletter p { 
    margin-bottom: 10px; 
    line-height: 1.6; 
}

.btn{
    margin-top: 15px;
}
footer {
    background-color: #18B7BE;
    padding:20px ;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

/* Support link in footer */
.support-link {
    text-decoration: none;
    color: #fff; 
    font-size: 1.1em;
}

/* Feedback section styles */
#feedback {
    display: none;
    background-color: #f8f8f8;  
    border: 1px solid #ddd;    
    padding: 20px;             
    border-radius: 5px;       
    margin-top: 20px;
  }
  
#feedback p {
    font-weight: bold;     
    margin-bottom: 10px;      
}
  
#feedback button {
    background-color: #4CAF50; 
    color: white;              
    padding: 10px 20px;
    border: none;             
    border-radius: 5px;       
    margin: 0 5px;            
    cursor: pointer;            
}
  
/* Hover effect for feedback buttons */
#feedback button:hover {
    opacity: 0.8;
}

/* First feedback button (Good) styling */
#feedback button:first-child {
    background-color: #4CAF50;
}

/* Last feedback button (Bad) styling */
#feedback button:last-child {
    background-color: #f44336;
}