<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inkwell Trend</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <header>
        <div class="container">
            <a href="#" class="logo">Inkwell Trend Based Newsletter Generator</a>
            <div class="infos">
                <p>Latest Trends From Socials</p>
            </div>
            <div class="actions">
                <button class="receive-reminders">Receive email reminders</button>
            </div>
        </div>
    </header>
    <div class="content-container">
        <h1>Generate Newsletter</h1>
        <form method="POST">
            <label for="country">Select Country:</label>
            <div class="select-wrapper">
                <select id="country" name="country">
                    {% for country in COUNTRIES %}
                    <option value="{{ country }}" {% if country==selected_country %}selected{% endif %}>
                        {{ country.replace('_', ' ').title() }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Tone select -->
            <label for="tone">Select Tone:</label>
            <div class="select-wrapper">
                <select id="tone" name="tone">
                    <option value="Informative">Informative</option>
                    <option value="Formal">Formal</option>
                    <option value="Casual">Casual</option>
                    <option value="Humorous">Humorous</option>
                    <!-- Add more tone options as needed -->
                </select>
            </div>

            <label for="model">Select Model:</label>
            <div class="select-wrapper">
                <select id="model" name="model">
                    {% for model in GEMINI_MODELS %}
                    <option value="{{ model }}" {% if model==selected_model %}selected{% endif %}>
                        {{ model }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Keywords input -->
            <label for="keywords">What keywords do you want to include? (optional)</label>
            <input type="text" id="keywords" name="keywords"><br><br>

            <button type="submit">✨ Generate Newsletter</button>
        </form>

        {% if error_message %}
        <div class="flash-error">{{ error_message }}</div>
        {% elif content %}
        <h2>Generated Newsletter:</h2>
        <div class="newsletter" id="newsletterToCopy">
            {{ content | safe }}
        </div>
        {% endif %}
        <button class="btn" data-clipboard-target="#newsletterToCopy" style="display:none;">
            Copy to Clipboard
        </button>

        <div id="feedback">
            <p>Help us improve. How was the output?</p>
            <button onclick="feedback('good')">Good</button>
            <button onclick="feedback('bad')">Bad</button>
        </div>
    </div>

    <footer>
        <div class="container">
            <a href="#" class="support-link">Support us, buy us a coffee.</a>
        </div>
    </footer>
</body>

</html>